.fill-remaining-space {
  flex: 1 1 auto;
}

#github-link {
  color: #fdfdfd;
  height: 100%;
}

#github-logo {
  line-height: 80px;
  vertical-align: middle;
}

a {
  color: #fdfdfd;
  text-decoration: none;
}
