<section class="section-secondary" id="section1">
  <h1 class="mat-h1" id="title" i18n>Bureaucracy generator</h1>
  <h2 class="mat-h2" i18n>What is Bureaucracy generator?</h2>
  <p class="mat-body" i18n>
    Bureaucracy Generator is an open-source app, which can generate all the legal documents you need to run your<br>business - privacy policy, terms and conditions, GDPR, etc.
  </p>
  <button mat-flat-button color="accent" i18n routerLink="/privacyPolicy">Privacy policy</button>
  <!--<button mat-flat-button color="accent" i18n>Terms & Conditions</button>-->
  <!--<button mat-flat-button color="accent" i18n>GDPR...</button>-->
  <!--<button mat-flat-button color="accent" i18n>End User License Agreement</button>-->
  <!--<br>-->
  <!--<button mat-flat-button color="accent" i18n>Cookies</button>-->
  <!--<button mat-flat-button color="accent" i18n>Non-disclosure agreement</button>-->
  <!--<button mat-flat-button color="accent" i18n>DMCA</button>-->
  <!--<button mat-flat-button color="accent" i18n>Disclaimer</button>-->
  <!--<br>-->
  <!--<button mat-flat-button color="accent" i18n>Affiliate Disclosure</button>-->
  <!--<button mat-flat-button color="accent" i18n>COPPA</button>-->
  <!--<button mat-flat-button color="accent" i18n>Copyright and Trademark Notices</button>-->
</section>
<section class="section-primary" id="section2">
  <h2 class="mat-h2" i18n>Is it for free?</h2>
  <p class="mat-body" i18n>
    Yes! This project is open source and the application is completely free to use.
  </p>
  <h2 class="mat-h2" i18n>Can I help with the project?</h2>
  <p i18n>
    Absolutely. We would be very glad if someone would like to help us with the project. Help us make this app perfect.
  </p>
</section>
<section class="section-secondary">
</section>
